@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .json-view span {
    @apply truncate block;
  }
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror {
  outline: none;
}

.flow-run-display {
  a {
    color: #1a202c;
    text-decoration: underline;
  }
}
